New Text Document.txt
fig1.csv
fig1.xlsx
fig2.csv
fig2.xlsx
fig12.csv
dataset.xlsx
urls.txt
graphs_codes.ipynb
graphs_codes (1).ipynb
graphs_codes (2).ipynb
graphs_codes (3).ipynb
number of records.ipynb