./graphs_codes/New Text Document.txt
./graphs_codes/fig1.csv
./graphs_codes/fig1.xlsx
./graphs_codes/fig2.csv
./graphs_codes/fig2.xlsx
./graphs_codes/fig12.csv
./graphs_codes/dataset.xlsx
./graphs_codes/urls.txt
./graphs_codes/graphs_codes.ipynb
./graphs_codes/graphs_codes (1).ipynb
./graphs_codes/graphs_codes (2).ipynb
./graphs_codes/graphs_codes (3).ipynb
./graphs_codes/number of records.ipynb